@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3></br>


<h4><strong>Author : </strong>@ViewData["Author"]</h4>
<h4><strong>Email de contato : </strong>@ViewData["Email"]</h4>